/* Base Style */
body,
body::before,
body::after,
body *,
body *::before,
body *::after {
  box-sizing: border-box;
}
/* body 안에서만 border-box로 처리 */

/* 클래스만 있을 때 마진을 없앰을 선언. */
/* [class] {
  margin: 0;
} */

a {
  color: inherit;
  text-decoration: none;
}

body {
  font: inherit;
  font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto,
    "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR",
    "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    sans-serif;
  background-color: #fff;
}

/* 유연한 미디어 */
/* max-width를 준 이유는, 그냥 width를 주면 해상도가 깨지는데, max를 주면 이미지파일이 가지고있는
원본크기를 넘지않아서 해상도가 깨지지 않기 때문! */
img {
  max-width: 100%;
  height: auto;
}

/* 웹페이지의 크기마다 유연하게 video의 크기도 유연하게 바꿔주는 선언 */
video {
  width: 100%;
  /* width의 initial value는 auto 값인데, 100%를 줌으로써 부모(news) 크기로 맞춰줌. */
  height: auto;
}

/* 가로가 100%일 때, 세로는 56.25% */

/* 반응형 iframe */
/* iframe에 담겨져 있는, appmain의 max width는 1024px.*/

.iframeWrapper {
  /* background-color: blueviolet; */
  position: relative;
  /* width: 100%; */
}

.iframeWrapper iframe {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  border: 5px solid red;
}

.iframeRatio-16-9 {
  padding-top: 56.25%;
}

.iframeRatio-21-9 {
  padding-top: 42.857142857142855%;
}

.iframeRatio-4-3 {
  padding-top: 75%;
}
