@import url(./grid.css);
@import url(./normalize.css);
@import url(./a11y.css);
@import url(./theme.css);
@import url(./base.css);


/* 미디어 query 없이 선언하는 것 = 공통 스타일 */
/* cascade 순서 yellow->green->blue.  */
/* 특정구간을 지정해서, 중간범위를 정해줌으로써 계속 덮어씀으로 인한 성능 저하를 보수함. */
/* cascade 순서를 잘 파악하고, 성능저하의 요소들을 잘 캐치해야 돼. */
/* 고정형은 float , position을 주로 썼지만, 반응형에선 flex와 grid를 주로 사용함. */



body{
  background-color: var(--yellow);
  /* font-size: 5vw; */
  /* vw단위는 보기엔 이쁘지만, 유지보수 및 수정이 어려우니까 비추천한다고해. */
}



/* 범위적용 240~768px까지. */
@media (min-width:240px) and (max-width: 768px){
  body{
    background-color: var(--green);
    
  }
}



/* 모바일 > 769 > 데스크탑 */
/* min-width: ~px : 중단점 breakpoint. */
@media (min-width: 769px){
  body{
    background-color: var(--blue);
    
  }
}

/* 비디오는 부모크기에 따라 늘었다 줄었다 하는 상대적특성을 선언했다. */
/* 그러면 부모의 크기가 고정형이 아닌 반응형이면 어떨까? */
/*  */
.news__videoContainer{
  width:70%;
}

.book__cover{
  width:30%;
  background-color: pink;
}